:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #333;
  margin: 0;
}

nav {
  display: flex;
  gap: 12px;
  padding: 12px 16px;
  background-color: #12101bff;
  flex-wrap: wrap;
}

nav a {
  text-decoration: none;
  color: #f0f0f0;
  font-weight: 500;
}

nav button {
  cursor: pointer;
}
